@charset "utf-8";

@media screen and (min-width:500px) {
  #root {
    max-width: 500px;
    margin: 0 auto;
  }
}

img {
  position: fixed;
  inset: 50% 0% auto auto;
  translate: 0 -50%;
  z-index: -1;
  width: 100%;
  animation: logo-spin 20s infinite linear;
}

@keyframes logo-spin {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}

h1 {
  margin: 0;
  font-size: 20px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 8px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

button {
  background: #fff;
  color: red;
  border-color: red;
}

.add {
  color: #00FF7F;
  border-color: #00FF7F;
}

li input:checked + span {
  color: #aaa;
  text-decoration: line-through;
}

span::before {
  content: '';
  display: inline-block;
  width: 10px;
  aspect-ratio: 1;
  background: #00FF7F;
}

li input {
  margin-right: 8px;
}

li label {
  margin-right: 8px;
}

form {
  display: flex;
  gap: 8px;
  margin-top: 16px;
}

form input {
  flex: 1;
  padding: 4px;
}

.copy {
  text-align: center;
  font-size: 12px;
}